@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'archivo';
    src: url('/fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: 'upheaval';
    src: url('/fonts/upheaval.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #000;
}